.parent{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: gray;
    margin: 5px;
    border: 1px solid black;
}
.main-comp{
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    height: fit-content;
    border: 1px solid rgb(7, 250, 250);  
}
.sub-comp{
    border: 1px solid #8b9c7a;
    background-color: aqua;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    width: 100px;
    height: 100px;

}
.heding h1{
    text-align: center;
    margin: 10px 20px;
    font-weight:bolder;
    color: rgb(237, 250, 250);
    background-color: darkorange;
}
.sub-comp h1{
    color: rgb(182, 108, 163);
}
.sub-comp:hover{
    background-color: lightblue;
}